<div class="embed-container">
    <iframe width="450" height="675" 
    src="https://www.youtube.com/embed/{{ include.id }}" 
    frameborder="0" allowfullscreen></iframe>
</div>
<style>
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 55%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 325;
  left: 225;
  width: 450;
  height: 675;
}
</style>

<!-- https://github.com/codepo8/youtube-embed -->